.background {
    background-color: rgb(118, 118, 228);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.Clear {
    background-image: url(../images/clearSky.png);
}
.Clouds {
    background-image: url(../images/Clouds.jpeg);
}
.drizzle {
    background-image: url(../images/sunCloudsBlueSky.jpg);
}
.rain {
    background-image: url(../images/sunCloudsBlueSky.jpg);
}