.background {
    background-color: rgb(118, 118, 228);
    background-image: url(../images/sunCloudsBlueSky.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.Clear {
    background-image: url(../images/clearSky.png);
}
.Clouds {
    background-image: url(../images/Clouds.jpeg);
}
.Drizzle {
    background-image: url(../images/Drizzle.jpg);
}
.Rain {
    background-image: url(../images/Rain.jpg);
}
.Thunderstorm {
    background-image: url(../images/Thunderstorm.jpg);
}
.Snow {
    background-image: url(../images/Snow.jpg);
}
.Mist, .Haze {
    background-image: url(../images/Mist.jpg);
}