.forecastListItem {
    display:flex;
    flex-direction: column;
    padding: .4em;
    border-bottom: 1px solid rgb(0,0,0);
    box-shadow: 2px 2px 4px rgb(0,0,0);
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    img {
        height: 3em;
    }
}